
body{
    background-color: red;
}
img{
    border-radius: 10px;
}
a{
    color: black;
}
*{
    text-align: center;
}
hr{
    color: black;
    width: 400px;
}
ul{
    text-align: center;
}